.App {
  text-align: center;
}

.nav {
  text-align: right;
  padding: 20px;
  font-size: x-large;
  background-color: rgb(243, 243, 243);
  color: black;
}

.nav #name {
  float: left;
}

.nav .links {
  color: black;
  padding-left: 25px;
}

.nav .links:hover {
  color:rgb(50, 50, 50);
}