.App {
  display: flex;
  flex-direction: row;
}

#name {
  font-weight: bold;
}

.pics, .extras {
  padding-bottom: 20px;
}

.nav {
  margin-left: 70px;
  margin-top: 40px;
  font-size: large;
  padding-right: 100px;
  color: black;
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.links, a, #name {
  display: block;
  block-size: 30px;
  color: black;
  text-decoration: none;
}

.nav .links:hover, .links:active {
  color:rgb(110, 110, 110);
}